@import 'tailwindcss';

@source '../../vendor/laravel/framework/src/Illuminate/Pagination/resources/views/*.blade.php';
@source '../../storage/framework/views/*.php';
@source '../**/*.blade.php';
@source '../**/*.js';

@theme {
    --font-sans: 'Instrument Sans', ui-sans-serif, system-ui, sans-serif, 'Apple Color Emoji', 'Segoe UI Emoji',
        'Segoe UI Symbol', 'Noto Color Emoji';
}


:root {
  --primary: #00205C;
  --secondary: #5E7B96;
  --accent: #FF6B6B;
}


@layer base {
  .bg-primary {
    background-color: var(--primary);
  }

  .bg-secondary {
    background-color: var(--secondary);
  }

  .bg-accent {
    background-color: var(--accent);
  }

  .text-primary {
    color: var(--primary);
  }

  .text-secondary {
    color: var(--secondary);
  }

  .text-accent {
    color: var(--accent);
  }
}


@layer components {
  .banner {
    @apply bg-[#00205C] m-0 h-auto flex items-center justify-center;
  }

   .banner-time {
    @apply p-2 rounded shadow-lg/20 shadow-cyan-500/50 bg-gray-100;
  }

  .text-date{
    @apply text-center font-bold capitalize text-base 2xl:text-xl text-[#5E7B96];
  }

   .text-time{
    @apply text-center font-bold text-base 2xl:text-xl font-bold text-[#5E7B96];
  }

  .titleHome{
    @apply text-base md:text-2xl 2xl:text-3xl font-bold text-center text-[#FF5900] uppercase pt-4;
  }

  .content-scanResult{
    @apply flex flex-col md:flex-row justify-center gap-4 2xl:gap-30 px-6;
  }

  .content-QR{
    @apply w-110 2xl:w-180 shadow-lg/20 shadow-cyan-500/50;
  }

  .content-Result{
    @apply flex flex-col items-center p-4 w-120 2xl:w-180 shadow-lg/20 shadow-cyan-500/50;
  }

  .text-result{
    @apply text-base sm:text-2xl font-bold text-center text-[#00205C];
  }

  .content-numEmpl{
    @apply pt-6 w-full flex justify-center;
  }

  .text-numEmpl{
    @apply text-center font-bold text-base 2xl:text-2xl  font-bold text-[#5E7B96];
  }

  .imput-numEmp{
    @apply w-full border border-gray-300 rounded p-2 shadow-md shadow-cyan-500/50 focus:outline-none focus:ring-2 focus:ring-orange-500;
  }

  .btn-numEmp{
    @apply bg-[#5E7B96] hover:bg-[#e65a2c] text-white font-semibold py-3 px-6 rounded-lg shadow-md transition duration-300 ease-in-out;
  }

}




